* {
  font-family: "Jua", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;

  background-color: rgb(72, 88, 97);
  color: rgb(255, 230, 207);

  text-align: center;

  font-size: 13px;
  line-height: 1.25;
}

header img {
  margin-top: 15vh;

  width: 90px;
  height: 90px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

header p {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 35px;
}

.title {
  font-size: 18px;
}

.sub-title {
  font-size: 12px;
  margin-bottom: 30px;
}

.line {
  width: 84px;
  height: 1px;
  display: inline-block;
  background-color: #ffe6cf;
  opacity: 0.4;

  margin-bottom: 10px;
}

.button {
  margin: auto;
  margin-bottom: 20px;

  padding: 20px;

  background-color: rgba(224, 224, 220, 0.2);

  width: 450px;
  height: 50px;
  border-radius: 12px;
}

.button a {
  color: rgb(255, 230, 207);
  text-decoration: none;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button a:hover {
  text-decoration: underline;
}
